/* CSS code for changing the icon of the cursor */
body, #logo:hover, #theme-toggle:hover, li a:hover, .hover\:bg-gray-700:hover, .bi:hover {
    cursor: url('../Assets/Cursor\ \(Purple\ Edges\).svg') 10 10, auto;
}

/* Improvement of contrast ratio for theme-toggle button */
.dark #theme-toggle {
    background-color: #374151;
    color: #f3f4f6;
}

#theme-toggle {
    background-color: #e5e7eb;
    color: #111827;
}

/* CSS code for changing the icon of the cursor inside the lightbox gallery */
.lightbox .thumb, .lightbox button {
    cursor: pointer; 
}


/* CSS code for the symmetrical rendering of the "X" in the burger menu */
.menu-open #line-top {
    transform: translateY(0.675rem) rotate(45deg);
}

.menu-open #line-bottom {
    transform: translateY(-0.675rem) rotate(-45deg);
}

.menu-open #line-middle {
    opacity: 0;
}


/* CSS code for customizing the animation of the hero image */
@keyframes entrance {
    0% { opacity: 0; transform: scale(0.8); }
    100% { opacity: 1; transform: scale(1); }
}

.animate-entrance {
    animation: entrance .8s ease-in-out forwards;
}


/* CSS code for the projects page */
.project-item {
    margin-bottom: 24px;
    display: inline-block;
    width: 100%;
    break-inside: avoid; 
    border: none;
}

.project-info {
    color: white;
}


/* CSS code for the timeline in the about page */
.timeline-dot {
    display: none;
}

.timeline-item {
    position: relative;
    margin-bottom: 40px;
    padding-right: 30px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 6px;
    right: 0;
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    z-index: 10;
}

.timeline-item.md\:ml-auto {
    padding-left: 30px;
    padding-right: 0;
}

.timeline-item.md\:ml-auto::before {
    right: auto;
    left: 0;
}